<p>
  flight-edit works!
  {{selectedFlight | json}}
  <!--{{selectedFlight$ | json}}-->
  {{id$ | async}}
</p>

<div *ngIf="selectedFlight">

  <form #f="ngForm">

    <div class="alert alert-danger" *ngIf="message">
      {{ message }}
    </div>

    <div class="form-group">
      <label>Id</label>
      <input name="selectedFlight.id" [(ngModel)]="selectedFlight.id" class="form-control">
      Id: {{selectedFlight.id}} <!--debug-->
    </div>

    <div class="form-group">
      <label>From</label>
      <input name="selectedFlight.from" [(ngModel)]="selectedFlight.from" class="form-control">
      From: {{selectedFlight.from}} <!--debug-->
    </div>

    <!-- Ergänzen Sie hier analog Felder für die weiteren Eigenschaften des Fluges -->

    <div class="form-group">
      <label>To</label>
      <input name="selectedFlight.to" [(ngModel)]="selectedFlight.to" class="form-control">
      To: {{selectedFlight.to}} <!--debug-->
    </div>

    <div class="form-group">
      <label>Date</label>
      <input name="selectedFlight.date" [(ngModel)]="selectedFlight.date" class="form-control">
      Date: {{selectedFlight.date}} <!--debug-->
    </div>

    <button (click)="save()" class="btn btn-default">Save</button>

  </form>

</div>
