<p>
  flight-edit works!
  {{selectedFlight | json}}
  <!--{{selectedFlight$ | json}}-->
  {{id$ | async}}
</p>

<div *ngIf="selectedFlight">

  <!--<form #f="ngForm">-->
  <form class="ng-pristine ng-valid ng-touched" #f="ngForm">

    <div class="alert alert-danger" *ngIf="message">
      {{ message }}
    </div>

    <div class="form-group">
      <label>Id</label>
      <!--<input name="selectedFlight.id" [(ngModel)]="selectedFlight.id" class="form-control">-->
      <input class="ng-pristine ng-valid ng-touched"
             name="id"
             ng-reflect-name="selectedFlight.id"
             [(ngModel)]="selectedFlight.id" required class="form-control">
      Id: {{selectedFlight.id}} <!--debug-->
      <p>
        selectedFlight.id.value: {{f?.controls?.id?.value}}<br/>
        selectedFlight.id.valid: {{f?.controls?.id?.valid}}<br/>
        selectedFlight.id.touched: {{f?.controls?.id?.touched}}<br/>
        selectedFlight.id.errors: {{f?.controls?.id?.errors | json}}
      </p>
    </div>

    <div class="form-group">
      <label>From</label>
      <input name="from" [(ngModel)]="selectedFlight.from" city class="form-control"> <!--city validator-->
      From: {{selectedFlight.from}} <!--debug-->
    </div>

    <!-- Ergänzen Sie hier analog Felder für die weiteren Eigenschaften des Fluges -->

    <div class="form-group">
      <label>To</label>
      <input name="to" [(ngModel)]="selectedFlight.to" class="form-control">
      To: {{selectedFlight.to}} <!--debug-->
    </div>

    <div class="form-group">
      <label>Date</label>
      <input name="date" [(ngModel)]="selectedFlight.date" class="form-control">
      Date: {{selectedFlight.date}} <!--debug-->
    </div>

    <button (click)="save()" class="btn btn-default">Save</button>

  </form>

  <hr>
  <!-- test ReactiveFormsModule -->

  <form class="ng-pristine ng-valid ng-touched" [formGroup]="editForm">
    <input class="ng-pristine ng-valid ng-touched"
           formControlName="id">
    id: {{editForm.get('id').value}}
    <p>
      id.value: {{editForm.get('id').value}}<br>
      id.valid: {{editForm.get('id').valid}}<br>
      id.touched: {{editForm.get('id').touched}}<br>
      id.pristine: {{editForm.get('id').pristine}}
    </p>

    <input class="ng-pristine ng-valid ng-touched"
           formControlName="from">
    from: {{editForm.get('from').value}}
    <p>
      errors: {{editForm.get('from').errors | json}}
    </p>
    <div class="text-danger" *ngIf="editForm.get('from').hasError('minlength')">
      A min length of {{editForm.get('from').getError('minlength').requiredLength}} is required
    </div>
    <div class="text-danger" *ngIf="editForm.get('from').hasError('validCity')">
      {{editForm.get('from').getError('validCity').actualValue}} is not a valid city.
      Use one of {{editForm.get('from').getError('validCity').validCities}}.
    </div>

    <input class="ng-pristine ng-valid ng-touched"
           formControlName="to">
    to: {{editForm.get('to').value}}

    <input class="ng-pristine ng-valid ng-touched"
           formControlName="date">
    date: {{editForm.get('date').value}}
  </form>

  <hr>

</div>
